{% extends 'base.html' %}

{% block head %}
<title>KRRP ELO viewer</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Edit Records</h1>
    
    <h2 style="text-align: center">Hello, {{name}}</h2>
	

    <div class="form"></div>
        <form action="{{ url_for('records') }}" method='POST'>
            IGN: <input type='text' name='user_ign' id='user_ign'>
            <br>
            빌리지 고가의 질주: <input type='text' name='map1_record' id='map1_record'>
            <br>
            WKC 코리아 서킷: <input type='text' name='map2_record' id='map2_record'>
            <br>
            사막 빙글빙글 공사장: <input type='text' name='map3_record' id='map3_record'>
            <br>
            대저택 은밀한 지하실: <input type='text' name='map4_record' id='map4_record'>
            <br>
            노르테유 익스프레스: <input type='text' name='map5_record' id='map5_record'>
            <br>
            빌리지 운명의 다리: <input type='text' name='map6_record' id='map6_record'>
            <br>
            해적 로비 절벽의 전투: <input type='text' name='map7_record' id='map7_record'>
            <br>
            쥐라기 공룡 결투장: <input type='text' name='map8_record' id='map8_record'>
            <br>
            <input type='submit' value='Update'>
		</form>
</div>

{% endblock %}