{% extends 'base.html' %}

{% block head %}
<title>KRRP ELO viewer</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Edit Records</h1>
    
    <h2 style="text-align: center">Hello, {{name}}</h2>
	

    <div class="form"></div>
        <form action="{{ url_for('records') }}" method='POST'>
            IGN: <input type='text' name='user_ign' id='user_ign'>
            <br>
            Map1: <input type='number' name='map1_record' id='map1_record'>
            <br>
            Map2: <input type='number' name='map2_record' id='map2_record'>
            <br>
            Map3: <input type='number' name='map3_record' id='map3_record'>
            <br>
            Map4: <input type='number' name='map4_record' id='map4_record'>
            <br>
            Map5: <input type='number' name='map5_record' id='map5_record'>
            <br>
            Map6: <input type='number' name='map6_record' id='map6_record'>
            <br>
            Map7: <input type='number' name='map7_record' id='map7_record'>
            <br>
            Map8: <input type='number' name='map8_record' id='map8_record'>
            <br>
            <input type='submit' value='Update'>
		</form>
</div>

{% endblock %}